<%- include("./partials/header") %>
  <h2>Registrar<h2>
  <form action="/user/show" method="POST">
      <input type="text" placeholder="Nome" name="name">
      <input type="text" placeholder="Sobrenome" name="surname">
      <button type="submit">Submit</button>
  </form> 
<%- include("./partials/footer") %>
