body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 2rem auto;
  width: fit-content;
}

.container h1 {
  color: #545c61;
  font-size: 4rem;
}

.timer {
  font-size: 3rem;
  color: hsl(205, 78%, 60%);
  text-align: center;
}

.partial {
  width: 30%;
  height: 250px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 15px;
  overflow: auto;
}

.partial h2 {
  text-align: center;
  color: #545c61;
}

.partial ul li {
  margin-top: 0.5rem;
  list-style-type: none;
  padding-left: 7.6rem;
}

.btn {
  display: inline-block;
  background: hsl(205, 78%, 60%);
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.btn:hover {
  background: hsl(205, 86%, 17%);
  color: hsl(205, 78%, 60%);
}

.form {
  background: #fff;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
}
.form input {
  background: hsl(210, 36%, 96%);
  border-color: transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
.form-control {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}
.form button {
  display: inline-block;
  background: #222;
  color: #fff;
  border-color: transparent;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  padding: 0.15rem 0.25rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  cursor: pointer;
}
